.table {
    border-collapse: collapse;
}
.table__header {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.table,
.table th,
.table td {
    border: 1px solid #ccc;
}
.table th,
.table td {
    padding: 0.5rem;
}
.table th {
    cursor: pointer;
    text-decoration: underline;
}